/** Ajout d"une police de caractères **/
@font-face {
	font-family: "Robotomono";
	src: url('RM-Reg.ttf');
}

@font-face {
	font-family: "RobotomonoThin";
	src: url('RM-Thin.ttf');
}

body{
    margin-left:1em;
    margin-right:1em;
    font-family: 'Robotomono';
}
/****** HEADER *******/

header{
    display: flex;
    margin-left:35px;
}

nav{
    display: flex;
    margin-left:30px;
}

nav a {
    font-size:1em;
    padding-top:59px;
    padding-left:15px;
    padding-right:15px;
    text-decoration: none;
    font-family: 'Robotomono';
    color:black;
}

nav a:hover{
    font-weight: bolder;
}

header h1{
    font-family: "Robotomono", sans-serif;
    font-size: 35pt;
    font-weight: bold;
}

header h1 a{
    color:black;
}

nav > a:hover{
    text-decoration: none;
}

#header_hr{
width: 97%;
color:#E0E7ED;
}

b#lienConnexion{
    font-family: 'Robotomono', sans-serif;
    margin-bottom: -4px;
}

/****** GENERAL ******/

main{
    margin-left: 2em;
    margin-right:2em;
}

a{
    color:#28AFB0;
    font-weight: bold;
    text-decoration: none;
}

a:hover{
    color:#0A100D;
}

h2,h3{
    font-family: "Robotomono", sans-serif;
}

h2{
    padding-left: 1em;
    grid-column:1/2;
}

#main_header{
display: grid;
font-family:'Robotomono';
grid-template-columns:40% 35% 30%;
}


.paddingRightIcon{
    padding-right: 10px;
}

#accountTab
{
    background-color:rgb(241, 241, 241);
    border: 1px solid #36434d;
    position: fixed;
    /* width: 175px; */
    border-radius: 5px;
    margin-top: -5px;
    height: 30px;
    left: 70%;
    top: 0%;
    margin-left: 10%; /*half the width*/
    padding:5px;
    padding-left:10px;
    padding-right:10px;
    text-align: center;
    padding-top: 10px;
    display: inline-block;
}

#icon_logout
{
    padding-left:5px;
}

/***** FOOTER *******/

#footer_hr{
    width: 97%;
    color:#E0E7ED;
}

/*** listPostView ***/

.trends:first-child{
    margin-top: 2em;
}

#iconJournal{
    padding-right: 10px;
    font-size: 1.6em;
}

#iconPencil{
    padding-right: 10px;
    font-size: 1.6em;
}

#lienAjouterEntree{
    color:black;
    grid-column:3/4;
}

#lienAjouterEntree h2:hover{
    color:#28AFB0;
}
/***** postView ******/

#billet{
    display: grid;
    grid-template-columns: 1fr 70% 1fr;
}

#iconCalendar{
    padding-right: 5px;
}

#contenuBillet{
    grid-column: 2/3;
}

#navBillets{
    grid-column:2/3;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 15px;
}
#billetSuivant{
    text-align: right;
    grid-column: 3/4;
}

#lcarret{
    padding-right:5px;
}
    
#leftArrow{
    padding-right:5px;
}
    
#rightArrow{
    padding-left:5px;
}

.trashcan{
    padding-right: 5px;
}

/*==========================*/
/*         newPost          */
/*==========================*/

#grid_newPost{
    display: grid;
    grid-template-columns: 1fr 60% 1fr;
}

.panel{
    border: 1px solid;
    border-color: #E0E7ED;
    color:#36434d;
    padding-top: 0rem;
    padding-right: 3rem;
    padding-bottom: 1.5rem;
    padding-left: 3rem;
    border-radius: 5px;
    grid-column: 2/3;
}  
.champDateFormulaire{
    display: inline-flex; 
}

#dateArticle{
    margin-left: 5px;
    width:76px;
}

.inpArticle{
    margin-top:5px;
    padding:3px;
}

.btnDates{
    margin-left: 5px;
}

.champsTexteFormulaire{
    width:100%;
}

#btnAvHier{
    width:140px;
}

form>textarea{
    height: 12em;
}

#check_aPublier{
    margin-top:5px;
}

#btn_sauvegarderArticle{
    margin-top:10px;
    padding: 0.5em 2em;
}

/*==========================*/
/*        deletePost        */
/*==========================*/

#grid_confirmDeletePost{
    display: grid;
    grid-template-columns: 1fr 40% 1fr;
}

#txt_confirmDelete{
    text-align: center;
}

#btns_confirm{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#btn_annuler{
    grid-column: 3/4;
}

/*==========================*/
/*    Esprits Celestes      */
/*==========================*/

.titrePrincipal{
    font-family: 'Robotomono', sans-serif;
}

#th_grid{
    display: grid;
    grid-template-columns: 1fr 70% 1fr;
}

#th_main{
    grid-column: 2/3;
}

#img_archanges{
    width: 60%;
    text-align: center;
}

/*==========================*/
/*        Mon Compte        */
/*==========================*/

.icon
{
    padding-right:10px;
}


#main
{
    display:grid;
    grid-template-columns:1fr 80% 1fr;
    grid-template-rows: 6em 1fr 1fr 1fr;
}

#sectionTitle
{
grid-column:1/3;
}

#main_content
{
grid-column:2/3;
grid-row: 2/4;
margin-top: 10px;
border: 1px dotted black;
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
grid-template-rows: 1fr;
}

#usernameTitle
{
margin-top: -35px;
margin-left: 10px;
background-color: white;
padding-right: 10px;
display: inline-block;
width: auto;
height: 3em;
position: absolute;
}

#username
{
    padding-left:0.5em;
    display:inline-block;
}

#nav_account
{
    grid-column: 1/2;
    grid-row: 2/3;
    padding: 1em;
}

#boxContent
{
    grid-row: 1/2;
    grid-column: 1/3;
    padding:1.5em;
}

#form_ChangePassword
{
    margin-top: 1em;
    display: grid;
    grid-template-rows: 1fr 0.5em 1fr 0em 1fr;
    grid-template-columns: 50% 40% 2em 50% 40%;
}

#form_ChangePassword>input
{
    height: 2em;
}

#lbl_currentPassword
{
    grid-row: 1/2;
    grid-column: 1/2;
}

#inp_currentPassword
{
    grid-row: 1/2;
    grid-column: 2/3;
}

#lbl_newPassword
{
    grid-row: 1/2;
    grid-column: 4/5;
}

#inp_newPassword
{
    grid-row: 1/2;
    grid-column: 5/6;
}

#lbl_newPasswordBis
{
    grid-row: 3/4;
    grid-column: 4/5;
}

#inp_newPasswordBis
{
    grid-row: 3/4;
    grid-column: 5/6;
}

#btn_submitChangePassword
{
    grid-row: 5/6;
    grid-column: 5/6;
}

#err
{
    grid-column: 1/4;
    grid-row: 5/6;
    font-family: 'Robotomono';
    font-size: 10pt;
    color:darkred;
    border:1px solid black;
    text-align: center;
    padding-top: 0.8em;
}

#err > i{
    color:darkorange;
}

#warningCircle
{
    margin-right: 5px;
    font-size: 13pt;
}

#form_Encryption
{
    margin-top: 1em;
    display: grid;
    width: 750px;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 30% 10% 60%;
}

#lbl_key
{
    grid-column: 1/2;
    grid-row: 1/2;
}

#inp_key
{
    grid-column: 3/4;
    grid-row: 1/2;
}

#lbl_keyBis
{
    grid-column: 1/2;
    grid-row: 2/3;
}

#inp_keyBis
{
    grid-column: 3/4;
    grid-row: 2/3;
}

#btn_submitKeys
{
    grid-column: 1/2;
    grid-row: 3/4;
}